/* INDEX*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
html{
    font-size: 62.5%;
} */

h1{
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

hr{
    margin: 0;
}
div nav li {
    display:inline-block;
    text-align: center;
    padding: 20px;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-left: 10px;
    text-align: center;

}
.nav__item{
    color: #fff;
    font-size: 1.25rem;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

a:hover{
    color: rgb(0, 0, 0);
    transition: color 800ms;
}

.container-fluid{
    background: rgb(40, 231, 152);
}
.navbar{
    padding: 0;
}
.barraNav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: rgb(40, 231, 152);
    width: 100%;
    position: sticky;
    top: 0px;
    z-index:100;
}
.barraNav div nav ul li a{
    display:inline-block;
    text-align: center;
    list-style-type: none;
}
.logos {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 1fr;
    justify-content: space-between;
}

.iconosNav{
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 100px 100px 100px;
    justify-self: end;
    justify-items: center;
    align-items: center;
}

#logo {
    display:inline-block;
    width: 100px;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    border-radius: 50px;
    text-align: left;
    animation: roll 4s;
}

@keyframes roll {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}


header{
    width: 100%;
    background: rgb(40, 231, 152);
}


.navbar-nav{
    align-items: center;
    justify-content: center;
    padding: 10px;

}

.barraIndex nav{
    background: rgb(40, 231, 152);
    z-index: 100;

}



.barraNavegacion{
    background: rgb(40, 231, 152);
}
.imgFondo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.destacados{
    display: flex;
    flex-direction: column;

}

.destacadosH2{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
    font-size: 32px;
}



.destacados img{
    border-radius: 10px;

}

.destacadosP{
    text-align: center;
}

.carousel2{
    height: 400px;
    width: 400px;
    margin: auto;
}






.noticias{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 5%;
    color: rgb(255, 255, 255);
    background:rgb(40, 231, 152);
}
.noticias h2{
    padding-top: 2px;
    padding-bottom: 20px;
    margin-top: 20px;
    font-size: 30px;
}

.noticias p{
    padding: 30px;
    font-size: 20px;
}
.noticias input{
    margin-bottom: 25px;

}


.emailNoticias{
    width: 550px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid;
}

.enviarNoticias:hover{
    background-color: #f8f9fab6;
}

.fondo{

    display: grid;
    grid-template-areas:
    "nav redes";
    justify-content: space-between;
    background:#1d1d1d ;
    width: 100%;
    padding: 20px;


}
.listaFondo li{
    text-align: left;
    display: block;
    padding: 10px;

}



.barraFondo{
    grid-template-areas: nav;
    margin-top: 20px;
}

.redes{
    grid-template-areas: redes;
    margin-top: 20px;
    align-self: end;
}
.redes img{
    display:inline-block;
    margin-top:10px;
    width: 50px;
    height: 50px;
    border-radius: 30px;

}

.redes p{
    font-size: 20px;
    color: rgb(40,231,152);
}

.listaFondo a:hover{
    color: rgb(64, 223, 162);
}


@media screen and (max-width: 414px) {
    .carousel2{
        width: 300px;
        height: 300px;
    }
}

/* PRODUCTOS */
.bread__productos{
    color: #000;
}

.bread__productos:hover{
    color: rgb(40, 231, 152);
    transition: 200ms;
}
.productos h1{
    text-align: center;
    margin: 20px;
}

.galeriaProductos{
    display: grid;
    grid-template-areas:
    "productoUno productoDos productoTres productoCuatro"
    "nombreUno nombreDos nombreTres nombreCuatro"
    "productoCinco productoSeis . ."
    " nombreCinco nombreSeis . . ";
    justify-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.productoUno{
    grid-area: productoUno;
    text-align: center;
    margin-bottom: 25px;
    
}

.productoUno:hover{
    transition: 900ms;
    transform: scale(1.1,1.1);
    border: 0.5px solid rgba(0, 0, 0, 0.637);
    box-shadow: 2px 2px 2px 2px rgba(165, 165, 165, 0.836);
    border-radius: 10px;

}

.productoDos{
    grid-area: productoDos;
    text-align: center;
    margin-bottom: 25px;
}
.productoDos:hover{
    transition: 900ms;
    transform: scale(1.1,1.1);
    border: 0.5px solid rgba(0, 0, 0, 0.637);
    box-shadow: 2px 2px 2px 2px rgba(165, 165, 165, 0.836);
    border-radius: 10px;

}
.productoTres{
    grid-area: productoTres;
    text-align: center;
    margin-bottom: 25px;
}
.productoTres:hover{
    transition: 900ms;
    transform: scale(1.1,1.1);
    border: 0.5px solid rgba(0, 0, 0, 0.637);
    box-shadow: 2px 2px 2px 2px rgba(165, 165, 165, 0.836);
    border-radius: 10px;

}

.productoCuatro{
    grid-area:  productoCuatro;
    text-align: center;
    margin-bottom: 25px;
}
.productoCuatro:hover{
    transition: 900ms;
    transform: scale(1.1,1.1);
    border: 0.5px solid rgba(0, 0, 0, 0.637);
    box-shadow: 2px 2px 2px 2px rgba(165, 165, 165, 0.836);
    border-radius: 10px;

}
.productoCinco{
    grid-area: productoCinco;
    text-align: center;
    margin-bottom: 25px;
}
.productoCinco:hover{
    transition: 900ms;
    transform: scale(1.1,1.1);
    border: 0.5px solid rgba(0, 0, 0, 0.637);
    box-shadow: 2px 2px 2px 2px rgba(165, 165, 165, 0.836);
    border-radius: 10px;

}
.productoSeis{
    grid-area: productoSeis;
    text-align: center;
    margin-bottom: 25px;
}
.productoSeis:hover{
    transition: 900ms;
    transform: scale(1.1,1.1);
    border: 0.5px solid rgba(0, 0, 0, 0.637);
    box-shadow: 2px 2px 2px 2px rgba(165, 165, 165, 0.836);
    border-radius: 10px;

}



.galeriaProductos img{
    height: 300px;
    width: 300px;
    border-radius: 10px;

}

@media only screen and (max-width:1024px){

    .galeriaProductos{
        background: #016436;
        grid-template-areas:
        "productoUno productoDos productoTres "
        "nombreUno nombreDos nombreTres"
        "productoCuatro productoCinco productoSeis "
        "nombreCuatro nombreCinco nombreSeis ";
        justify-items: center;
    }
}

@media only screen and (max-width:768px){


    .galeriaProductos{
        background: #51fcba;
        grid-template-areas:
    "productoUno productoDos  "
    "nombreUno nombreDos  "
    "productoTres productoCuatro"
    "nombreTres nombreCuatro"
    " productoCinco productoSeis "
    " nombreCinco nombreSeis  ";
        justify-items: center;
    }

}

@media only screen and (max-width:414px){


    .galeriaProductos{
        background: #51fcfc;
        grid-template-areas:
    "productoUno"
    "nombreUno"
    "productoDos"
    "nombreDos"
    "productoTres"
    "nombreTres"
    "productoCuatro"
    "nombreCuatro"
    "productoCinco"
    "nombreCinco"
    "productoSeis"
    "nombreSeis";
        justify-items: center;
    }

}



/* TIPS */

.tips{
    background: rgb(255, 241, 218);
    display: grid;
    grid-template-areas:
    "header header"
    "linea linea"
    "nav nav"
    "menu menu"
    "titulo titulo"
    "recetas aside"
    "recetas aside"
    "footer footer "
    ;
}

.botonRecetas{
    border: none;
    background: none;
    font-size: 20px;

}

h4{
    line-height:3;

}

.barraNavegacion{
    grid-area: header;
    width: 100%;
}

.barraNav{
    grid-area: nav;
    width: 100%;
}

.recetas{
    grid-area: recetas;
    margin: 25px;
    line-height: 2;

}

.recetaDos{
    grid-area: recetas;
    margin: 25px;
    line-height: 2;
}
.scones{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.scones:hover{
    color: rgba(0, 0, 0, 0.637);
    transition: 500ms;
}


.alfajores{
    color: #000;
    font-weight: bold;
}

.alfajores:hover{
    color: rgba(0, 0, 0, 0.637);
    transition: 500ms;;
}

.sugerencias{
    background: rgb(255, 241, 218);
    text-align: center;
    padding-top: 10%;
    margin: 0px;
}
.video{
    grid-area: aside;
    background: rgb(255, 241, 218);
    height: 100%;
    padding: 20px;

}
.videoUno{
    width: 300px;
    height: 200px;
    padding-top: 10%;
}

.videoDos{
    width: 300px;
    height: 200px;
    padding-top: 10%;
}
.footerTips{
    grid-area: footer;
    width: 100%;
}

.linea{
    grid-area: linea;
}

.tituloTips{
    grid-area: titulo;
    text-align: center ;
}

.menuRecetas{
    grid-area: menu;
    margin: 25px;
}

@media only screen and (max-width:736px) {
    .tips{
        
        grid-template-areas: 
        "header "
        "linea "
        "nav "
        "menu"
        "titulo "
        "recetas "
        "recetas "
        "footer " ;
    
}
}
/* UBICACION */

.ubicacion{
    display: grid;
    grid-template-areas:
    "titulo ."
    "mapa info"
    "mapa transporte"
    "mapa subte"
    ". ."
    ;
    grid-gap: 20px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
    
}

.tituloUbi{
    grid-area: titulo;
    text-align: center;
}

.mapa{
    grid-area: mapa;
    
}

.info{
    grid-area: info;
}

.transporte{
    grid-area: transporte;
    line-height: 2;
}

.googleMaps{
    width:600px;
    height:400px;
}
@media only screen and (max-width:736px){

    .ubicacion{
        grid-template-areas:
        "titulo "
        "mapa "
        "."
        "."
        "info"
        "transporte"
        "subte";
    }
        .googleMaps{
            height: 225px;
            width: 350px;
        }
    
}





/* CONTACTO */


.contacto{
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 10rem;
    grid-template-areas:
    "texto formulario"
    ;

}

.infoContacto{
    grid-area: texto;
}

.formulario{
    grid-area: formulario;
}

.inputForm{
    border-radius: 5px;
    border: 2px solid;
    height: 2rem;
    width: 20rem;

}
textarea{
    border-radius: 5px;
    border: 2px solid;
    width: 40rem;
    height: 10rem;
}

textarea:hover{
    border-color:rgb(64, 223, 162);
}
.inputForm:hover{
    border-color:rgb(64, 223, 162) ;
}
.botonEnviar{
    border-radius: 5px;
    border: 2px solid;
    width: 20rem;
    color: white;
    background-color:rgb(64, 223, 162) ;
}

.botonEnviar:hover{
    background-color:rgba(64, 223, 162, 0.726)  ;
}
.formulario{
    display: grid;
    grid-template-areas:
    "nombre"
    "email"
    "celular"
    "consulta"
    "enviar"
    ;
    line-height: 3;
}

.nombre{
    display: block;
}
.nombreForm{
    grid-area: nombre;
}
.email{
    display: block;
}
.emialForm{
    grid-area: email;
}

.celular{
    display: block;
}
.numeroForm{
    grid-area: celular;
}

.consulta{
    display: block;
}
.consultaForm{
    grid-area: consulta;
}

.enviarForm{
    grid-area: enviar;
}






@media only screen and (max-width:768px){

    .contacto{
        grid-template-columns: 100%;
        grid-template-areas: 
        "texto"
        "formulario";
        
        margin-left: 10px;
    }
    .textoConsulta{
        width: 450px;
        height: 120px;
    }

    .inputForm {
        width: 450px;
    }
}

@media only screen and (max-width:414px){

    .contacto{
        grid-template-columns: 100%;
        grid-template-areas: 
        "texto"
        "formulario";
        
        margin-left: 10px;
    }
    .textoConsulta{
        width: 350px;
        height: 120px;
    }

    .inputForm {
        width: 350px;
    }
    
}